Text Clustering

In [2]:
import pandas as pd
import numpy as np
from sklearn.cluster import MiniBatchKMeans
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/sameermahajan/MLWorkshop/master/3.%20Clustering/people_wiki.csv')

In [4]:
df.head()

                                                 URI  ...                                               text
0        <http://dbpedia.org/resource/Digby_Morrell>  ...  digby morrell born 10 october 1979 is a former...
1       <http://dbpedia.org/resource/Alfred_J._Lewy>  ...  alfred j lewy aka sandy lewy graduated from un...
2        <http://dbpedia.org/resource/Harpdog_Brown>  ...  harpdog brown is a singer and harmonica player...
3  <http://dbpedia.org/resource/Franz_Rottensteiner>  ...  franz rottensteiner born in waidmannsfeld lowe...
4               <http://dbpedia.org/resource/G-Enka>  ...  henry krvits born 30 december 1974 in tallinn ...

[5 rows x 3 columns]

Feature Extraction

In [5]:
vec = TfidfVectorizer(stop_words="english")
vec.fit(df.text.values)
features = vec.transform(df.text.values)

Model Training

In [7]:
cls = MiniBatchKMeans(n_clusters=5, random_state=0)
cls.fit(features)

MiniBatchKMeans(batch_size=100, compute_labels=True, init='k-means++',
                init_size=None, max_iter=100, max_no_improvement=10,
                n_clusters=5, n_init=3, random_state=0, reassignment_ratio=0.01,
                tol=0.0, verbose=0)

Predict cluster labels for new dataset

In [8]:
cls.predict(features)

array([2, 4, 1, ..., 2, 3, 3], dtype=int32)

In [9]:
cls.labels_

array([2, 4, 1, ..., 2, 3, 3], dtype=int32)

In [10]:
a = cls.labels_

In [11]:
len(a)

42786

In [12]:
df.count()

URI     42786
name    42786
text    42786
dtype: int64